<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">RAPiDSkills</a>
</nav>

<div class="container">
  <header id="site-header">&nbsp;</header>
  <div class="row">
    <div class="col-sm">
      <h1 class="text-center">Welcome to RAPiDSkills</h1>
    </div>
  </div>

  <div id="email-form" class="row">
    <div class="col-sm">
      <p>Please enter your email address if you would like to be added to our mailing list:</p>
    </div>
  </div>
</div>
