$color-white: #FFFFFF;
$color-white-darkened: darken($color: $color-white, $amount: 10);;

$color-black: #002E58;
$color-black-darkened: darken($color: $color-black, $amount: 10);

$color-blue: #0077FF;
$color-blue-darkened: darken($color: $color-blue, $amount: 10);

$color-link-blue: #459eff;

$color-button-blue: #0073ff;

$color-button-alternative-blue: rgba(0, 119, 255, 0.0637566);

$color-nav-left-background-blue: #002e58;

$color-nav-bar-top-box-shadow: rgba($color: #080606, $alpha: 0.04);

$color-gray-light: #E6EAEE;

$color-text-light: #8DA3B7;

$color-body-background: #FAFBFC;
$color-body-text: #2c3e50;

$color-salmon: salmon;

$color-modal-background: #1C486F;