@import "@/scss/navbars";

$standard-width: 18rem;

$work-process-height: 6rem;
$skill-height: 5rem;

$card-row-gap: 2rem;
$card-column-gap: 2rem;
$card-column-padding: 2rem;

.standard-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}