// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mi-primary-color: rgb(14, 74, 94);

.navbar {
  background-color: $mi-primary-color;
}

div#site-header {
  margin-top: 36px;
}

div.container {
  h1 {
    color: $mi-primary-color;
  }
}

div#email-form {
  margin-top: 27px;
}

/* Can't figure out quickly how to change Boostrap $primary color when using
 * the CDN.  I'm sure there's a better way to do this. */
.btn-primary {
  background-color: $mi-primary-color;
  border-color: $mi-primary-color;

  &:hover {
    background-color: lighten($mi-primary-color, 10%);
    border-color: lighten($mi-primary-color, 10%);
  }
}
